body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background:url("../Images/bck.jpg");
  background-size: cover;
}
.heading{
 font-size:2.5rem;
 text-align: center;
 font-weight: bold;
}
.main-container{
 width:400px;
 height:400px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 padding:20px 10px 20px 10px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 position: absolute;
 top: 50%;
 left:50%;
 transform: translate(-50%,-50%);
 background:#91c1ee59;
}

.all-input{
  padding:13px 20px;
  background:#ebecee;
  border:none;
  width:300px;
  border-radius:5px;
  font-size:18px;
  color:grey;
  margin-top:25px;
}

.all-input:focus{
  outline:none;
}

.btn{
  border:none;
  padding:14px;
  font-size:16px;
  letter-spacing:0.5px;
  border-radius:2px;
  font-weight: bold;
  background: #2b5fbb;
  color:white;
  margin-top:24px;
  transition: 0.1s;
}
.btn:hover{
    background: #1d62d9;
    color:white;
    transform: scale(1.03);

}
.view-all{
  margin-left:auto;
  margin-right:auto;
  margin-top:490px;
  width:420px;

}
#btn{

background:#1d62d9;
width:418px;

padding:20px 15px 20px 10px;
height:8%;
}
#btn:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
@media (max-width:1200px){

 body{
   background:#2b5fbb;
 }

}
